body, html {
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(10, 10, 10);
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.App {
  text-align: center;
  background-color: rgb(10, 10, 10);
  font-family: 'Orbitron', sans-serif;
}

.no-padding{
  padding:0;
}